@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;

}

.font-serif {
  font-family: var(--font-serif), Georgia, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
